<!DOCTYPE html>
<html>
  <head>
    <title>AlwaysRamen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <% if request.url&.include?('admin') %>
            <%= link_to admin_homes_top_path do %>
              <%= image_tag 'logo_transparent.png', size: "100x100", class: "navbar-brand" %>
            <% end %>
          <% else %>
            <%= link_to '/' do %>
              <%= image_tag 'logo_transparent.png', size: "100x100", class: "navbar-brand" %>
            <% end %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if request.url&.include?('admin') %>
                <%= render partial: "layouts/admin_header" %>
              <% else %>
                <%= render partial: "layouts/user_header" %>
                <%= render partial: "layouts/serach" %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-5 pb-4">
    </footer>
  </body>
</html>
